* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
}

.nav-bar {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo {

    height: 50px;
    width: 100px;

}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.logo {
    background-image: url("Amazon-Logo-Black.jpg");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.add-icon {
    display: flex;
}

.nav-address {
    padding: 9px;
    width: 100px;
}

.nav-address p {
    font-size: 13px;
    color: #CCCCCC;
    padding-left: 15px;

}

.nav-address h5 {
    padding-left: 3px;
    font-size: 16px;
    color: white;
}

.search-Bar {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 900px;
    border: 2px solid transparent;

}

.search-Bar:hover {
    border: 2px solid orange;
}

.selection {
    width: 50px;
    background-color: #E6E6E6;
    font-size: 14px;
    border: 2px solid #E6E6E6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;

}

.searchInput {
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-Icon {
    background-color: rgb(218, 155, 37);
    width: 45px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-signIn {
    padding: 9px;
}

span {
    font-size: 12px;
}

.sec-line {
    font-size: 14px;
    font-weight: 700;
}

.cart-logo {
    width: 80px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;

}

.cart-logo i {
    font-size: 25px;
}

.cart-logo .cart {
    padding-top: 14px;
}

.nav-bar2 {
    height: 40px;
    width: 100%;
    background-color: #3b5b54;
    color: white;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 20px 0 20px;
}

.nav-bar2 .menu {
    padding: 5px;
}

.nav-bar2 span {
    font-weight: 700;

}

.nav-bar2 a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 5px;
}

.heroSection {
    height: 40%;
    width: 100%;
    background-color: #dadada;
    background-image: url("./shopBook_Bg.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.heroSection p {
    height: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: white;
    margin-bottom: 25px;
    font-size: 14px;
}

.heroSection a {
    text-decoration: none;
    color: #34d6b0;
}

.products {
    background-color: #defbef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    background: white;
    height: 400px;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 15px;
    
}

.box-content{
    margin-left: 20px;
    margin-right: 20px;
}
.box-Img {
    background-size: cover;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.box-content a {
    margin-top: 20px;
    color: #34bed6;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}


.footer1{
    height: 20px;
    padding: 15px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(55, 72, 64);
    margin-top: 10px;
}


.footer2{
    height: 500px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(38, 49, 44);
    border-bottom: 0.1px solid rgb(105, 104, 104);
}

.footer2 h3{
    padding: 45px 0px 10px;
    font-weight: 540;

}

.footer2 li{
    list-style-type: none;
    line-height: 1.8rem;
}

.footer2 a{
    text-decoration: none;
    color: gray;
}


.footer3{
    height: 120px;
    background-color: rgb(38, 49, 44);
    border-top: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer img{
    height: 80px;
    width: 80px;
}

.currency{
    display: flex;
    align-items: center;
    padding-left: 100px;
    gap: 15px;
}

.currency p {
    color: white;
    border: 1px solid white;
    border-radius: 8%;
    padding: 10px 20px 10px 20px;

}
.footer4{
height: 600px;
    background-color: #1d2423;
    position: relative;
}

.AboutAmazon{
    height: 450px;
    background-color: #1d2423;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 350px;
}

.footbox{
    height: 80px;
    width: 90px;
    padding: 0px 9px;
    line-height: 0.9rem;
}

.footbox a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.footbox span{
    color: gray;
}